<!-- This is the footer -->
<div class="container-fluid">
    <div class="row footer-top">
        <div class="col-sm-4 text-center">
            <h4 class="ft-text-title">A01 - Contact</h4>
            <h5 class="ft-desp">Joe Suchan 
                <br>Web Applications and Services
            </h5>
            
            </div>
            <div class="col-sm-4 text-center">
                <h4 class="ft-text-title">Group Members</h4>
                <div class="address-member">
                    <p class="member">
					<br>
                        Member 1 : Joe Suchan  
                    </p>
                    <p class="member">
                        Member 2 : Sri Anurag Sai Alladi 
                    </p>
               </div>
           </div>
           <div class="col-sm-4 col-xs-12 text-center">
            <h4 class="ft-text-title">Pages</h4>
            <div class="pspt-dtls">
                <a href="index.html" class="about">Home</a>
                <a href="tipCalc.html" class="team">Tip Calculator</a>
                <a href="contact.html" class="advertise">Contact</a>
                
            </div>
        </div>
    </div>
	<div class="row ft-copyright pt-2 pb-2" style="padding-left: 25px;">
		<div class="col-sm-4 text-pp-crt">cpoyright 2018 All  Rights Reserved</div>
		<div class="col-sm-4 text-pp-crt-rg">Department of Information Reg No: </div>
		<div class="col-sm-4 developer">
			<a href="https://topline-tech.com" target="_blank" class="text-pp-crt">By : <b>T</b>op<b>L</b>ine</a>
		</div>
	</div>
</div>
	
</body>