<% include header %>
	<link rel="stylesheet" href="css/a01.css">
	<!-- This is my image and about me elemens -->
	<div class ="container">
		<div class ="row">
			<div class = "col-md-8">
				<p class="aboutMeText">My name is Joe Suchan; I am a junior studying Interactive Digital Media – Computer Science. 
				I have three jobs on campus those being a student ambassador, career ambassador and a SOAR Leader. 
				My jobs keep me busy but I still find time to get involved. 
				I am an active member in Sigma Tau Gamma Fraternity, the Homecoming Executive Board, 
				Upsilon Pi Epsilon, Order of Omega, Cardinal Key Honors Society, the Interfraternity Council, 
				National Honors Society of Leadership and Success, and Student Senate.
			</div>
			<div class ="col-md-4">
				<img src="images/Small_SuchanHeadshot.png" class="img-circle" alt="Joe Suchan Headshot">
			</div>
			
			<div class="row">
				<div class ="col-md-12">
				<br><br><br><br>
					<iframe height="615" class="videoMargin" src="https://www.youtube.com/embed/lHvtZSsEYsE?start=6" 
							 allow="autoplay; encrypted-media" allowfullscreen>
					</iframe>
				</div>
			</div>
			<br><br>
		</div>
	</div>




<% include footer %>
